@charset "UTF-8";
@import url("../fonts/Roboto.css");
@import url("./normalize.css");
::-webkit-scrollbar {
  width: 0;
}

main {
  width: 100%;
  grid-template-columns: 50px auto 50px;
}

.teachers-list {
  display: grid;
  padding-bottom: 30px;
  grid-template-columns: repeat(1, 1fr);
}
.teachers-list .teacher-card > h3 {
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.pagination a {
  width: 150px;
}

.top-teachers-section .filters {
  display: none;
}

.navigation-section {
  padding-block: 0 45px;
  flex-wrap: wrap;
}
.navigation-section .search-container {
  width: 100%;
}
.navigation-section .search-container form {
  display: flex;
  width: 100%;
}
.navigation-section .search-container input[type=text]:hover {
  min-width: 160px;
}
.navigation-section .search-container input[type=text] {
  margin-right: 5px;
  width: 100%;
  min-width: 160px;
}
.navigation-section .search-container input[type=submit] {
  display: none;
}
.navigation-section .search-container .small-screen-search-button {
  color: #f75c49;
  border: 1px solid #f75c49;
  font-size: 1rem;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 2px;
  transition: 0.3s ease;
}
.navigation-section .search-container .small-screen-search-button:hover {
  background: #d16252;
  border-color: #d16252;
  color: #ffffff;
}
.navigation-section .add-teacher-button {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.navigation-section .navigation {
  display: none;
}

header {
  flex-wrap: wrap;
  justify-content: center;
}
header .small-screen-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .small-screen-menu .burger-menu {
  display: none;
}
header .search-container {
  display: none;
}

section .section-heading {
  font-size: 2rem;
}

@media screen and (max-width: 499px) {
  .favorites-section .teachers-list .teacher-card {
    display: flex;
  }
  .favorites-section .teachers-list .teacher-card:nth-child(n+2) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .favorites-section .teachers-list .teacher-card {
    display: flex;
  }
  .favorites-section .teachers-list .teacher-card:nth-child(n+3) {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .favorites-section .teachers-list .teacher-card {
    display: flex;
  }
  .favorites-section .teachers-list .teacher-card:nth-child(n+4) {
    display: none;
  }
}
@media screen and (max-width: 1599px) {
  .favorites-section .teachers-list .teacher-card {
    display: flex;
  }
  .favorites-section .teachers-list .teacher-card:nth-child(n+5) {
    display: none;
  }
}
@media screen {
  .favorites-section .teachers-list .teacher-card {
    display: flex;
  }
  .favorites-section .teachers-list .teacher-card:nth-child(n+6) {
    display: none;
  }
}
.show-burger-menu-button {
  color: #f75c49;
  transition: 0.3s ease;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid #f75c49;
}
.show-burger-menu-button:active {
  color: #d16252;
  border-color: #d16252;
}

.statistics-section .statistics-table-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 30px;
}
.statistics-section .statistics-table-container .responsive-container {
  overflow-x: auto;
}

@media screen and (min-width: 425px) {
  header {
    justify-content: space-between;
  }
  header .logo > h1 {
    font-size: 2rem;
  }
  header .small-screen-menu {
    width: auto;
    display: block;
  }
  .show-burger-menu-button {
    margin-bottom: 0;
  }
  section .section-heading {
    font-size: 2.5rem;
  }
  .teacher-info-modal {
    max-width: 75% !important;
  }
  .add-teacher-modal {
    max-width: 75% !important;
  }
}
@media screen and (min-width: 500px) {
  .teachers-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .teachers-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .teachers-list .teacher-card > h3 {
    font-size: 1.2rem;
  }
  header .logo > h1 {
    font-size: 3rem;
  }
  header .show-burger-menu-button {
    font-size: 1.5rem;
  }
  .navigation-section {
    flex-wrap: nowrap;
  }
  .navigation-section .small-screen-search-button {
    display: none;
  }
  .navigation-section .search-container {
    width: 100%;
  }
  .navigation-section .search-container form {
    display: flex;
    width: 100%;
    max-width: 500px;
  }
  .navigation-section .search-container input[type=text] {
    margin-right: 5px;
    width: 100%;
  }
  .navigation-section .search-container input[type=submit] {
    display: inline !important;
  }
  .navigation-section .add-teacher-button {
    text-align: center;
    min-width: 120px;
    width: auto;
    margin-left: 5px;
    margin-top: 0;
  }
  .teacher-info-modal {
    min-width: 768px;
    max-width: 50% !important;
  }
  .teacher-info-modal .teacher-details {
    flex-wrap: nowrap !important;
  }
  .teacher-info-modal .teacher-details .image-wrapper {
    width: auto !important;
    display: block !important;
  }
  main {
    grid-template-columns: 100px auto 100px;
  }
}
@media screen and (min-width: 1024px) {
  .navigation-section {
    padding-block: 15px 45px;
  }
  .navigation-section .navigation {
    display: inline-block;
  }
  .navigation-section .search-container {
    display: none;
  }
  .navigation-section .add-teacher-button {
    font-size: 1.2rem;
  }
  .top-teachers-section .filters {
    display: flex;
  }
  .top-teachers-section .small-screen-filters {
    display: none;
  }
  .small-screen-menu {
    display: none !important;
  }
  header .search-container {
    display: block;
  }
  .teachers-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .teachers-list .teacher-card > h3 {
    font-size: 1.4rem;
  }
  .add-teacher-modal {
    max-width: 50% !important;
  }
  .add-teacher-modal .add-teacher-form .teacher-country-form-item,
.add-teacher-modal .add-teacher-form .teacher-email-form-item {
    grid-column-end: 2 !important;
  }
  .add-teacher-modal .add-teacher-form .teacher-city-form-item,
.add-teacher-modal .add-teacher-form .teacher-phone-form-item {
    grid-column-start: 2 !important;
  }
}
@media screen and (min-width: 1440px) {
  main {
    width: 75%;
  }
  .teachers-list {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
  .add-teacher-modal {
    max-width: 500px !important;
  }
}
@media screen and (min-width: 1600px) {
  .teachers-list {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
  }
}
body {
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  margin: 0 auto;
  box-shadow: 0 0 10px -2px #dfdfdf;
  background: #ffffff;
}
main header,
main section,
main footer {
  grid-column: 2;
}
main .favorites-button.left-button {
  grid-column: 1;
}
main .favorites-button.right-button {
  grid-column: 3;
}

.button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  width: auto;
  outline: none;
  background: #ffffff;
  transition: 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.button.button-orange {
  border: 1px solid #f75c49;
  color: #f75c49;
}
.button.button-orange:hover {
  background: #f75c49;
  color: #ffffff;
}

footer .navigation-section {
  padding-block: 30px;
}
footer section::after {
  width: 0;
  height: 0;
}

.search-form input[type=text] {
  min-width: 200px;
  margin-right: 15px;
  padding: 9px 10px 10px 10px;
  outline: none;
  font-family: Roboto, sans-serif;
  transition: 0.3s ease;
}
.search-form input[type=text]:hover {
  min-width: 350px;
}

header {
  display: flex;
  align-items: center;
}
header .logo {
  display: inline-block;
}
header .logo h1 {
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s ease;
  text-shadow: -2px -1px #f75c49, 2px 1px #222222;
}
header .logo h1:hover {
  text-shadow: -3px -1px #f75c49, 3px 1px #222222;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-section .navigation a {
  color: #f75c49;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.3s ease;
}
.navigation-section .navigation a:not(:first-child) {
  margin-left: 50px;
}
.navigation-section .navigation a:hover {
  color: #d16252;
}

section {
  position: relative;
}
section .section-heading {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #222222;
  letter-spacing: 1px;
  margin-block: 30px;
}
section::after {
  content: "";
  display: block;
  width: max(220px, 50%);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  height: 1px;
  background: #222222;
}

.small-screen-filters {
  width: 100%;
  margin-bottom: 30px;
}
.small-screen-filters a {
  width: 100%;
  text-align: center;
  padding: 10px 15px;
}
.small-screen-filters a i {
  margin-right: 10px;
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 30px;
}
.filters .filter-item {
  display: inline-flex;
  align-items: center;
  float: left;
  padding-inline: 20px;
  border-left: 1px dotted #999999;
}
.filters .filter-item label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #999999;
  margin-top: 3px;
  cursor: pointer;
}
.filters .filter-item label:hover {
  color: #222222;
}
.filters .filter-item input[type=checkbox] {
  margin: 0 5px 0 0;
  cursor: pointer;
}
.filters .filter-item select {
  padding: 7px;
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
}
.filters .filter-item:first-child {
  padding-inline: 0 15px;
  border-left: 0;
}
.filters .filter-item:last-child {
  padding-inline: 15px 0;
}
.filters::after {
  content: "";
  display: block;
  clear: both;
}

.teacher-card {
  padding: 30px;
  font-family: Roboto, sans-serif;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teacher-card .card-header {
  max-width: 200px;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
.teacher-card .card-header .image-wrapper {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #f75c49;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
  color: #f75c49;
  overflow: hidden;
  position: relative;
}
.teacher-card .card-header .image-wrapper a {
  text-decoration: none;
  color: #f75c49;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.teacher-card .card-header .image-wrapper .star {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.teacher-card .card-header .image-wrapper.no-image h3 {
  font-size: 2rem;
  transition: 0.3s ease;
}
.teacher-card .card-header .image-wrapper img {
  width: 100%;
  transition: 0.3s ease;
}
.teacher-card .card-header .image-wrapper:hover {
  border-color: #d16252;
}
.teacher-card .card-header .image-wrapper:hover img {
  transform: scale(1.1);
}
.teacher-card .card-header .image-wrapper:hover h3 {
  transform: scale(1.2);
  color: #d16252;
}
.teacher-card.stared .star {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 10px 0;
}
.teacher-card h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-block: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  word-spacing: 100vh;
}
.teacher-card .subject {
  color: #999999;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.teacher-card .country {
  font-size: 0.9rem;
}

.about-section {
  padding-top: 45px;
  font-family: Roboto, sans-serif;
}

.statistics-section {
  padding-bottom: 30px;
}
.statistics-section table {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
.statistics-section table thead {
  border-bottom: 1px solid #222222;
}
.statistics-section table thead th:first-child {
  padding-left: 30px;
}
.statistics-section table thead th {
  font-size: 1.1rem;
  padding: 15px;
  position: relative;
  transition: 0.3s ease;
}
.statistics-section table thead th:hover {
  background: #fafafa;
}
.statistics-section table thead th:hover span::after {
  content: "↓";
  position: absolute;
  margin-left: 10px;
  color: #1ab7d9;
  font-family: Roboto, sans-serif;
}
.statistics-section table thead th:hover::after {
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #222222;
}
.statistics-section table tbody tr:nth-child(2n) {
  background: #f9f5f9;
}
.statistics-section table td:first-child,
.statistics-section table th:first-child {
  text-align: left;
}
.statistics-section table td {
  text-align: center;
  padding: 10px 20px;
}
.statistics-section .statistics-pagination {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
.statistics-section .statistics-pagination a:not(.dots) {
  transition: 0.3s ease;
  color: #1ab7d9;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
.statistics-section .statistics-pagination a:not(.dots).active, .statistics-section .statistics-pagination a:not(.dots):hover {
  color: #222222;
}

.favorites-button {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.favorites-button > div {
  width: 50px;
  height: 80px;
  position: relative;
  background-size: 100% 100%;
  transition: 0.3s ease;
}
.favorites-button.left-button {
  flex-direction: row-reverse;
}
.favorites-button.left-button > div {
  background-image: url("../images/left-arrow.png");
}
.favorites-button.left-button > div:hover {
  background-image: url("../images/left-arrow-active.png");
}
.favorites-button.right-button {
  flex-direction: row;
}
.favorites-button.right-button > div {
  background-image: url("../images/right-arrow.png");
}
.favorites-button.right-button > div:hover {
  background-image: url("../images/right-arrow-active.png");
}

.teacher-info-modal {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
.teacher-info-modal #teacher-map {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  display: none;
}
.teacher-info-modal .teacher-details {
  display: flex;
  flex-wrap: wrap;
}
.teacher-info-modal .teacher-details .image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.teacher-info-modal .teacher-details .image-wrapper img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teacher-info-modal .teacher-details .general-info {
  width: 100%;
  padding: 20px;
}
.teacher-info-modal .teacher-details .general-info .teacher-name-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.teacher-info-modal .teacher-details .general-info .teacher-name-container h3 {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}
.teacher-info-modal .teacher-details .general-info .teacher-name-container i {
  font-size: 1.5rem;
  color: #f75c49;
  cursor: pointer;
}
.teacher-info-modal .subject {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.teacher-info-modal .location,
.teacher-info-modal .age-and-sex,
.teacher-info-modal .email,
.teacher-info-modal .days-to-next-birthday,
.teacher-info-modal .phone {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.teacher-info-modal .email {
  color: #1ab7d9;
}
.teacher-info-modal .teacher-description {
  padding: 20px;
  font-family: Roboto, sans-serif;
  font-size: 0.95rem;
}
.teacher-info-modal .teacher-description p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.teacher-info-modal .map {
  padding: 0 20px 20px 20px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
}
.popup .popup-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px) brightness(50%);
          backdrop-filter: blur(5px) brightness(50%);
}
.popup .popup-modal {
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 30px -2px #222222;
}
.popup .popup-modal > header {
  border-radius: 2px 2px 0 0;
  background: #464547;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup .popup-modal > header h2 {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
}
.popup .popup-modal > header i {
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
}
.popup .popup-modal > .content {
  max-height: 75vh;
  overflow-y: auto;
}
.popup .popup-modal > .content::-webkit-scrollbar {
  width: 5px;
}
.popup .popup-modal > .content::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px;
  background-color: #464547;
}

.link {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  color: #1ab7d9;
  text-decoration: none;
  border-bottom: 1px dashed #1ab7d9;
  cursor: pointer;
}

.add-teacher-modal {
  width: 100%;
  max-width: 100%;
}
.add-teacher-modal > .content {
  padding: 20px;
  max-height: 80vh !important;
}
.add-teacher-modal .add-teacher-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-teacher-modal .add-teacher-form .teacher-sex-form-item {
  align-items: center;
}
.add-teacher-modal .add-teacher-form .teacher-sex-form-item label,
.add-teacher-modal .add-teacher-form .teacher-sex-form-item input {
  width: auto !important;
}
.add-teacher-modal .add-teacher-form .teacher-sex-form-item > label {
  margin-right: 50px;
}
.add-teacher-modal .add-teacher-form .teacher-sex-form-item > div {
  display: inline-flex;
}
.add-teacher-modal .add-teacher-form .teacher-sex-form-item > div label {
  color: #222222;
}
.add-teacher-modal .add-teacher-form .teacher-sex-form-item > div input {
  margin: 0 10px 0 5px;
}
.add-teacher-modal .add-teacher-form .submit-form-item input {
  font-size: 1.5rem !important;
}
.add-teacher-modal .add-teacher-form .background-color-form-item {
  align-items: center;
}
.add-teacher-modal .add-teacher-form .background-color-form-item input {
  width: 60px !important;
  height: 30px;
}
.add-teacher-modal .add-teacher-form .form-item {
  width: 100%;
  padding: 5px 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.add-teacher-modal .add-teacher-form .form-item label {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  color: #464547;
}
.add-teacher-modal .add-teacher-form .form-item .form-error {
  color: #f75c49;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  margin-top: 5px;
}
.add-teacher-modal .add-teacher-form .form-item > label {
  margin-right: 50px;
  display: inline-flex;
  padding-bottom: 5px;
}
.add-teacher-modal .add-teacher-form .form-item input,
.add-teacher-modal .add-teacher-form .form-item select,
.add-teacher-modal .add-teacher-form .form-item textarea {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  padding: 8px 10px;
  width: 100%;
}
.add-teacher-modal .add-teacher-form .form-item textarea {
  min-height: 130px;
  resize: vertical;
}

.chart-containers {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}/*# sourceMappingURL=index.css.map */