@import url('../fonts/Roboto.css');
@import url('./normalize.css');


$color-orange: #f75c49;
$color-dark-orange: #d16252;
$color-yellow: #fafac6;
$color-black: #222222;
$color-background: #fcfcfc;
$color-white: #ffffff;
$color-light-silver: #fafafa;
$color-silver: #dfdfdf;
$color-gray: #999999;
$color-dark-gray: #464547;
$color-purple: #f9f5f9;
$color-cyan: #1ab7d9;

$logo-font-size: 3rem;

$default-font: Roboto, sans-serif;
$default-transition: 0.3s ease;

// breakpoints
$small-screen-size: 425px;
$larger-small-screen-size: 500px;
$medium-screen-size: 768px;
$large-screen-size: 1024px;
$small-laptop-screen-size: 1440px;
$medium-laptop-screen-size: 1600px;

::-webkit-scrollbar {
  width: 0;
}

main {
  width: 100%;
  grid-template-columns: 50px auto 50px;
}

.teachers-list {
  display: grid;
  padding-bottom: 30px;
  grid-template-columns: repeat(1, 1fr);

  .teacher-card>h3 {
    font-size: 1.2rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  a {
    width: 150px;
  }
}

.top-teachers-section {
  .filters {
    display: none;
  }
}

.navigation-section {
  padding-block: 0 45px;
  flex-wrap: wrap;

  .search-container {
    width: 100%;

    form {
      display: flex;
      width: 100%;
    }

    input[type="text"]:hover {
      min-width: 160px;
    }

    input[type="text"] {
      margin-right: 5px;
      width: 100%;
      min-width: 160px;
    }

    input[type="submit"] {
      display: none;
    }

    .small-screen-search-button {
      color: $color-orange;
      border: 1px solid $color-orange;
      font-size: 1rem;
      background: $color-white;
      padding: 10px 15px;
      border-radius: 2px;
      transition: $default-transition;

      &:hover {
        background: $color-dark-orange;
        border-color: $color-dark-orange;
        color: $color-white;
      }
    }
  }

  .add-teacher-button {
    text-align: center;
    width: 100%;
    margin-top: 5px;
  }

  .navigation {
    display: none;
  }
}

header {
  flex-wrap: wrap;
  justify-content: center;

  .small-screen-menu {
    width: 100%;
    display: flex;
    justify-content: center;

    .burger-menu {
      display: none;
    }
  }

  .search-container {
    display: none;
  }
}

section {
  .section-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: calc($larger-small-screen-size - 1px)) {
  .favorites-section {
    .teachers-list {
      .teacher-card {
        display: flex;
      }

      .teacher-card:nth-child(n + 2) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: calc($medium-screen-size - 1px)) {
  .favorites-section {
    .teachers-list {
      .teacher-card {
        display: flex;
      }

      .teacher-card:nth-child(n + 3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: calc($large-screen-size - 1px)) {
  .favorites-section {
    .teachers-list {
      .teacher-card {
        display: flex;
      }

      .teacher-card:nth-child(n + 4) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: calc($medium-laptop-screen-size - 1px)) {
  .favorites-section {
    .teachers-list {
      .teacher-card {
        display: flex;
      }

      .teacher-card:nth-child(n + 5) {
        display: none;
      }
    }
  }
}

@media screen {
  .favorites-section {
    .teachers-list {
      .teacher-card {
        display: flex;
      }

      .teacher-card:nth-child(n + 6) {
        display: none;
      }
    }
  }
}

.show-burger-menu-button {
  color: $color-orange;
  transition: $default-transition;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid $color-orange;

  &:active {
    color: $color-dark-orange;
    border-color: $color-dark-orange;
  }
}

.statistics-section {
  .statistics-table-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 30px;

    .responsive-container {
      overflow-x: auto;
    }
  }
}

@media screen and (min-width: $small-screen-size) {
  header {
    justify-content: space-between;

    .logo>h1 {
      font-size: 2rem;
    }

    .small-screen-menu {
      width: auto;
      display: block;
    }
  }

  .show-burger-menu-button {
    margin-bottom: 0;
  }

  section {
    .section-heading {
      font-size: 2.5rem;
    }
  }

  .teacher-info-modal {
    max-width: 75% !important;
  }

  .add-teacher-modal {
    max-width: 75% !important;
  }
}

@media screen and (min-width: $larger-small-screen-size) {
  .teachers-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $medium-screen-size) {
  .teachers-list {
    grid-template-columns: repeat(3, 1fr);

    .teacher-card>h3 {
      font-size: 1.2rem;
    }
  }

  header {
    .logo>h1 {
      font-size: $logo-font-size;
    }

    .show-burger-menu-button {
      font-size: 1.5rem;
    }
  }

  .navigation-section {
    flex-wrap: nowrap;

    .small-screen-search-button {
      display: none;
    }

    .search-container {
      width: 100%;

      form {
        display: flex;
        width: 100%;
        max-width: 500px;
      }

      input[type="text"] {
        margin-right: 5px;
        width: 100%;
      }

      input[type="submit"] {
        display: inline !important;
      }
    }

    .add-teacher-button {
      text-align: center;
      min-width: 120px;
      width: auto;
      margin-left: 5px;
      margin-top: 0;
    }
  }

  .teacher-info-modal {
    min-width: 768px;
    max-width: 50% !important;

    .teacher-details {
      flex-wrap: nowrap !important;

      .image-wrapper {
        width: auto !important;
        display: block !important;
      }
    }
  }

  main {
    grid-template-columns: 100px auto 100px;
  }
}

@media screen and (min-width: $large-screen-size) {
  .navigation-section {
    padding-block: 15px 45px;

    .navigation {
      display: inline-block;
    }

    .search-container {
      display: none;
    }

    .add-teacher-button {
      font-size: 1.2rem;
    }
  }

  .top-teachers-section {
    .filters {
      display: flex;
    }

    .small-screen-filters {
      display: none;
    }
  }

  .small-screen-menu {
    display: none !important;
  }

  header {
    .search-container {
      display: block;
    }
  }

  .teachers-list {
    grid-template-columns: repeat(4, 1fr);

    .teacher-card>h3 {
      font-size: 1.4rem;
    }
  }

  .add-teacher-modal {
    max-width: 50% !important;

    .add-teacher-form {

      .teacher-country-form-item,
      .teacher-email-form-item {
        grid-column-end: 2 !important;
      }

      .teacher-city-form-item,
      .teacher-phone-form-item {
        grid-column-start: 2 !important;
      }
    }
  }
}

@media screen and (min-width: $small-laptop-screen-size) {
  main {
    width: 75%;
  }

  .teachers-list {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  .add-teacher-modal {
    max-width: 500px !important;
  }
}

@media screen and (min-width: $medium-laptop-screen-size) {
  .teachers-list {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
  }
}

body {
  background-color: $color-background;
  padding: 0;
  margin: 0;
}

main {
  display: grid;

  header,
  section,
  footer {
    grid-column: 2;
  }

  .favorites-button {
    &.left-button {
      grid-column: 1;
    }

    &.right-button {
      grid-column: 3;
    }
  }

  margin: 0 auto;
  box-shadow: 0 0 10px -2px $color-silver;
  background: $color-white;
}

.button {
  font-family: $default-font;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  width: auto;
  outline: none;
  background: $color-white;
  transition: $default-transition;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &.button-orange {
    border: 1px solid $color-orange;
    color: $color-orange;

    &:hover {
      background: $color-orange;
      color: $color-white;
    }
  }
}

footer {
  .navigation-section {
    padding-block: 30px;
  }

  section::after {
    width: 0;
    height: 0;
  }
}

.search-form {
  input[type="text"] {
    min-width: 200px;
    margin-right: 15px;
    padding: 9px 10px 10px 10px;
    outline: none;
    font-family: $default-font;
    transition: $default-transition;

    &:hover {
      min-width: 350px;
    }
  }
}

header {

  display: flex;
  align-items: center;

  .logo {
    display: inline-block;

    h1 {
      font-weight: bold;
      color: $color-light-silver;
      cursor: pointer;
      letter-spacing: 2px;
      transition: $default-transition;
      text-shadow: -2px -1px $color-orange, 2px 1px $color-black;

      &:hover {
        text-shadow: -3px -1px $color-orange, 3px 1px $color-black;
      }
    }
  }
}

.navigation-section {

  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation {
    a {
      color: $color-orange;
      text-decoration: none;
      font-family: $default-font;
      font-weight: bold;
      font-size: 1.2rem;
      transition: $default-transition;

      &:not(:first-child) {
        margin-left: 50px;
      }

      &:hover {
        color: $color-dark-orange;
      }
    }
  }
}

section {
  position: relative;

  .section-heading {
    text-align: center;
    font-family: $default-font;
    font-weight: bold;
    color: $color-black;
    letter-spacing: 1px;
    margin-block: 30px;
  }

  &::after {
    content: "";
    display: block;
    width: max(220px, 50%);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    height: 1px;
    background: $color-black;
  }
}

.small-screen-filters {
  width: 100%;

  a {
    width: 100%;
    text-align: center;
    padding: 10px 15px;

    i {
      margin-right: 10px;
    }
  }

  margin-bottom: 30px;
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 30px;

  .filter-item {
    display: inline-flex;
    align-items: center;
    float: left;
    padding-inline: 20px;
    border-left: 1px dotted $color-gray;

    label {
      font-family: $default-font;
      font-size: 14px;
      color: $color-gray;
      margin-top: 3px;
      cursor: pointer;

      &:hover {
        color: $color-black;
      }
    }

    input[type="checkbox"] {
      margin: 0 5px 0 0;
      cursor: pointer;
    }

    select {
      padding: 7px;
      width: 100px;
      margin-left: 20px;
      cursor: pointer;
    }

    &:first-child {
      padding-inline: 0 15px;
      border-left: 0;
    }

    &:last-child {
      padding-inline: 15px 0;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.teacher-card {
  padding: 30px;
  font-family: $default-font;
  position: relative;

  .card-header {
    max-width: 200px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;

    .image-wrapper {
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid $color-orange;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
      cursor: pointer;
      color: $color-orange;
      overflow: hidden;
      position: relative;

      a {
        text-decoration: none;
        color: $color-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .star {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
      }

      &.no-image {
        h3 {
          font-size: 2rem;
          transition: $default-transition;
        }
      }

      img {
        width: 100%;
        transition: $default-transition;
      }

      &:hover {
        border-color: $color-dark-orange;

        img {
          transform: scale(1.1);
        }

        h3 {
          transform: scale(1.2);
          color: $color-dark-orange;
        }
      }
    }
  }

  &.stared {
    .star {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      margin: 10px 0;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-block: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 100vh;
  }

  .subject {
    color: $color-gray;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .country {
    font-size: 0.9rem;
  }

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  padding-top: 45px;
  font-family: $default-font;
}

.statistics-section {

  table {
    width: 100%;
    font-family: $default-font;
    font-size: 1rem;

    thead {
      border-bottom: 1px solid $color-black;

      th:first-child {
        padding-left: 30px;
      }

      th {
        font-size: 1.1rem;
        padding: 15px;
        position: relative;
        transition: $default-transition;

        &:hover {
          background: $color-light-silver;
        }

        &:hover {
          span::after {
            content: "↓";
            position: absolute;
            margin-left: 10px;
            color: $color-cyan;
            font-family: $default-font;
          }
        }

        &:hover::after {
          content: "";
          left: 0;
          bottom: 0;
          display: block;
          width: 100%;
          position: absolute;
          border-bottom: 3px solid $color-black;
        }
      }
    }

    tbody {
      tr:nth-child(2n) {
        background: $color-purple;
      }
    }

    td:first-child,
    th:first-child {
      text-align: left;
    }

    td {
      text-align: center;
      padding: 10px 20px;
    }
  }

  .statistics-pagination {
    font-family: $default-font;
    font-size: 1rem;

    a:not(.dots) {
      transition: $default-transition;
      color: $color-cyan;
      text-decoration: none;
      padding: 10px;
      cursor: pointer;

      &.active,
      &:hover {
        color: $color-black;
      }
    }
  }

  padding-bottom: 30px;
}

.favorites-button {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;

  >div {
    width: 50px;
    height: 80px;
    position: relative;
    background-size: 100% 100%;
    transition: $default-transition;
  }

  &.left-button {
    flex-direction: row-reverse;

    >div {
      background-image: url("../images/left-arrow.png");

      &:hover {
        background-image: url("../images/left-arrow-active.png");
      }
    }
  }

  &.right-button {
    flex-direction: row;

    >div {
      background-image: url("../images/right-arrow.png");

      &:hover {
        background-image: url("../images/right-arrow-active.png");
      }
    }
  }
}

.teacher-info-modal {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;

  #teacher-map {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    display: none;
  }

  .teacher-details {
    display: flex;
    flex-wrap: wrap;

    .image-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }

    .general-info {
      width: 100%;
      padding: 20px;

      .teacher-name-container {
        h3 {
          font-family: $default-font;
          font-size: 2rem;
          letter-spacing: 1px;
        }

        i {
          font-size: 1.5rem;
          color: $color-orange;
          cursor: pointer;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
      }
    }
  }

  .subject {
    font-family: $default-font;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .location,
  .age-and-sex,
  .email,
  .days-to-next-birthday,
  .phone {
    font-family: $default-font;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .email {
    color: $color-cyan;
  }

  .teacher-description {
    padding: 20px;
    font-family: $default-font;
    font-size: 0.95rem;

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .map {
    padding: 0 20px 20px 20px;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;

  .popup-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    backdrop-filter: blur(5px) brightness(50%);
  }

  .popup-modal {
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-white;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 30px -2px $color-black;

    >header {
      border-radius: 2px 2px 0 0;
      background: $color-dark-gray;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        color: $color-white;
        font-family: $default-font;
        font-size: 1.3rem;
      }

      i {
        color: $color-white;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }

    >.content {
      max-height: 75vh;
      overflow-y: auto;
      
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        border-radius: 2px;
        background-color: $color-dark-gray;
      }
    }
  }
}

.link {
  font-family: $default-font;
  font-size: 0.9rem;
  color: $color-cyan;
  text-decoration: none;
  border-bottom: 1px dashed $color-cyan;
  cursor: pointer;
}

.add-teacher-modal {

  width: 100%;
  max-width: 100%;

  >.content {
    padding: 20px;
    max-height: 80vh !important;
  }

  .add-teacher-form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .teacher-sex-form-item {
      align-items: center;

      label,
      input {
        width: auto !important;
      }

      >label {
        margin-right: 50px;
      }

      >div {
        display: inline-flex;

        label {
          color: $color-black;
        }

        input {
          margin: 0 10px 0 5px;
        }
      }
    }

    .submit-form-item {
      input {
        font-size: 1.5rem !important;
      }
    }

    .background-color-form-item {
      align-items: center;

      input {
        width: 60px !important;
        height: 30px;
      }
    }

    .form-item {
      width: 100%;
      padding: 5px 20px;
      grid-column-start: 1;
      grid-column-end: 3;

      label {
        font-family: $default-font;
        font-size: 0.9rem;
        color: $color-dark-gray;
      }

      .form-error {
        color: $color-orange;
        font-family: $default-font;
        font-size: 0.9rem;
        margin-top: 5px;
      }

      >label {
        margin-right: 50px;
        display: inline-flex;
        padding-bottom: 5px;
      }

      input,
      select,
      textarea {
        font-family: $default-font;
        font-size: 0.9rem;
        padding: 8px 10px;
        width: 100%;
      }

      textarea {
        min-height: 130px;
        resize: vertical;
      }
    }
  }
}

.chart-containers {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}